# 1. 忽略 uv 创建的虚拟环境
.venv/

# 2. 忽略 Python 运行时的缓存文件
__pycache__/
*.pyc

# 3. 忽略 PyCharm 的本地编辑器配置
.idea/

# 4. 忽略 CS336 作业数据集
Assignment-1/cs336_basics/data/
Assignment-4/local-shared-data/

# 5. 忽略训练产物与实验输出
Assignment-1/cs336_basics/Train_Module/checkpoints/
*.pt
*.pth
*.ckpt
*.log
*.csv

# 6. 暂不上传个人笔记
video_lecture1.md
video_lecture2.md
video_lecture3.md
video_lecture4.md
video_lecture13.md
video_lecture14.md
Assignment-1/cs336_basics/LLM_Module/NOTE.md
Assignment-1/cs336_basics/utils/note.md
Assignment-4/cs336_data/NOTE.md
Assignment-4/cs336_data/quality_classify/Note.md
Assignment-4/cs336_data/Non-assignment content/

Assignment-1/tests/
Assignment-4/tests/

第一章完整版v1.pdf


*.json
*.pkl
*.txt
